/* * 404  */ */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /* body {
   // padding: 0;
    margin: 0;
  } */
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }
  
  .notfound .notfound-404 {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0px auto 50px;
  }
  
  .notfound .notfound-404>div:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ffa200;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 5px dashed #000;
    border-radius: 5px;
  }
  
  .notfound .notfound-404>div:first-child:before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Cabin', sans-serif;
    color: #000;
    font-weight: 700;
    margin: 0;
    font-size: 90px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }
  
  .notfound h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  
  .notfound p {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
  }
  
  .notfound a {
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    background-color: #8f8f8f;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    background-color: #2c2c2c;
  }
  .page-not-found {
    background: #fafafa;
    color: #b3b3b3;
    padding-top: 40px;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}

    .page-not-found .container {
        padding: 10px;
    }

    .page-not-found img {
        max-width: 98%;
    }

    .page-not-found h2 {
        font-family: 'Oswald', sans-serif;
        color: #333;
        font-size: 80px;
        margin-bottom: 10px;
    }

.page-not-found-back-btn {
    margin-top: 70px;
}

    .page-not-found-back-btn a {
        font-family: 'Oswald', sans-serif;
        color: #b3b3b3;
        font-size: 20px;
    }


/*End 404 pages*/
/*blog-detail page*/
.blg-detail {
  display: inline-block;
  width: 100%;
}
.blg-detail h1 {
  color: #43484f;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}

.blg-detail .divider  {
  display: block;
  width: 205px;
  height: 1px;
  background: #d2d2d2;
  position: relative;
  margin: 10px auto;
  content: "";
}

.release-date {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #7b7b7b;
  margin: 0 0 15px;
}

.blg-detail .container {
  background: #fff;
  max-width: 900px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content_blg {
  display: block;
  width: 100%;
  position: relative;
  max-width: 730px;
  margin: auto;
}
.blg-detail img { max-width: 100%;}
.img-blg-jambo {
  display: block;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  margin: auto;
}
.img-blg-jambo img {
  height: 100%;
  width: auto;
  max-width: 100%;
}
body{
  background: #f0f0f0  !important;
}
.blg-back-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blg-back-btn  a {
  display: inline-block;
  width: 180px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #7b7b7b;
  border:1px solid #7b7b7b;
  font-weight: 600;
} 

.content_blg p {
  margin-bottom: 15px;
  color: #7b7b7b;
  font-size: 14px;
  font-weight: 400;
}
ul{
   list-style: disc outside none;
}